<a href="https://colab.research.google.com/github/Sereenamariyam/Python_assignment/blob/main/Pipeline_Demonstration_data_engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Libraries

In [ ]:
#import important libraries
import pandas as pd

# Loading Data

In [ ]:
url = "https://tinyurl.com/49nm5ku9"  #while building dont give path explicitly, instead assign it to variable
#https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv - the actual url
df_covid = pd.read_csv(url)
df_covid.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,209322,209340,209358,209362,209369,209390,209406,209436,209451,209451
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,334391,334408,334408,334427,334427,334427,334427,334427,334443,334457
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,271441,271448,271463,271469,271469,271477,271477,271490,271494,271496
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,47866,47875,47875,47875,47875,47875,47875,47875,47890,47890
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,105255,105277,105277,105277,105277,105277,105277,105277,105288,105288

# Preprocessing

In [ ]:
df_covid.isnull().sum()

Province/State    198
Country/Region      0
Lat                 2
Long                2
1/22/20             0
                 ...
3/5/23              0
3/6/23              0
3/7/23              0
3/8/23              0
3/9/23              0
Length: 1147, dtype: int64

In [ ]:
# 1. Filter rows where 'Country/Region' is India
'''df_covid_ind = df_covid[df_covid['Country/Region'] == 'India']
df_covid_ind.head()'''



def filter_india(df):
    df_india = df[df['Country/Region'] == 'India']
    return df_india
df_covid_ind = filter_india(df_covid)
df_covid_ind.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
148,NaN,India,20.593684,78.96288,0,0,0,0,0,0,...,44687837,44688105,44688388,44688722,44689046,44689327,44689593,44689919,44690298,44690738

In [ ]:
#checking null values
'''df_covid_ind.isna().sum()'''
def drop_null_columns(df):
  df = df.drop(columns = ["Province/State"],axis=1)
  df = df.dropna(axis=1)
  return df
df_covid_ind_preprocessed =  drop_null_columns(df_covid_ind)
df_covid_ind_preprocessed.head()

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
148,India,20.593684,78.96288,0,0,0,0,0,0,0,...,44687837,44688105,44688388,44688722,44689046,44689327,44689593,44689919,44690298,44690738

In [ ]:
#dropping column axis = 0 is for rows and axos = 1 is for columns
df_covid_ind.drop(columns=['Province/State'], axis = 1)

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
148,India,20.593684,78.96288,0,0,0,0,0,0,0,...,44687837,44688105,44688388,44688722,44689046,44689327,44689593,44689919,44690298,44690738

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import FunctionTransformer

custom_pipeline = Pipeline([
    ('filter_india', FunctionTransformer(filter_india)),
    ('drop_null_columns', FunctionTransformer(drop_null_columns))
])

In [ ]:
#testing the pipeline
df_output = custom_pipeline.fit_transform(df_covid)
df_output.head()

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
148,India,20.593684,78.96288,0,0,0,0,0,0,0,...,44687837,44688105,44688388,44688722,44689046,44689327,44689593,44689919,44690298,44690738